@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('/static/fonts/Lato-Regular.eot');
  src: url('/static/fonts/Lato-Regular.woff2') format('woff2'),
       url('/static/fonts/Lato-Regular.woff') format('woff'),
       url('/static/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('/static/fonts/Lato-Bold.eot');
  src: url('/static/fonts/Lato-Bold.woff2') format('woff2'),
       url('/static/fonts/Lato-Bold.woff') format('woff'),
       url('/static/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url('/static/fonts/Lato-Light.eot');
  src: url('/static/fonts/Lato-Light.woff2') format('woff2'),
       url('/static/fonts/Lato-Light.woff') format('woff'),
       url('/static/fonts/Lato-Light.ttf') format('truetype');
}
