// colors

$fd-blue = #155D75
$fd-gold = #c98702
$fd-green = #398439
$light-blue = #0082D0
$dark-gray = #444
$valid-green = #08703c
$error-red = #982c1f

// sizes
$header-padding = 6rem

// forms

$input-bg = #fff
$input-border = 2px solid
$input-border-color = #666
$input-padding = .5rem .375rem
$input-margin-bottom = 1rem
$input-border-radius = .2rem
$input-transition = all .4s ease-in-out
$input-focus-box-shadow = 0 0 1px 1px
$input-focus-box-shadow-color = #999

$input-flat-border-bottom = 3px solid $dark-gray
$input-flat-focus-bg = #ddd

$input-borderless-bg = #ddd

$label-font-size = .95rem
$label-font-weight = 700
$label-margin-bottom = .5rem

$feedback-font-size = .9rem
$feedback-margin-top = 2px

// buttons

$btn-transition = all .3s ease-out

$btn-default-color = #fff
$btn-default-bg = $dark-gray
$btn-default-font-size = .75rem
$btn-default-border = 1px solid
$btn-default-border-color = transparent
$btn-default-padding = .5rem 1rem
$btn-default-radius = .3rem
$btn-default-hover-color = #fff
$btn-default-hover-bg = $light-blue
$btn-default-active-bg = darken($light-blue, 25%)
$btn-default-box-shadow = 0 2px 3px
$btn-default-box-shadow-color = #999

$btn-ghost-color = $dark-gray
$btn-ghost-bg = #fff
$btn-ghost-width = 100px
$btn-ghost-font-size = 1.1rem
$btn-ghost-border = 3px solid
$btn-ghost-border-color = $dark-gray
$btn-ghost-padding = .5rem
$btn-ghost-hover-color = #fff
$btn-ghost-hover-bg = $dark-gray
$btn-ghost-active-bg = lighten($dark-gray, 25%)

// lists

$list-color = #333
$list-bg = #f8f8f8
$list-padding = .75rem
$list-width = 400px
$list-border = 1px solid
$list-border-color = #ccc
$list-box-shadow = 0 4px 16px
$list-box-shadow-color = rgba(0,0,0,0.2)
