.Admin {
  text-align: center;
  margin-left: 12%;
  width: 75%;
}
.Admin > div:first-child {
  margin-bottom: 2rem;
}
.Admin .AdminItem {
  border-bottom: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  cursor: pointer;
  padding: 1rem;
}
.Admin .AdminItem:first-child {
  border-top: 1px solid #d3d3d3;
}
.Admin .AdminItem:hover {
  background-color: #d3d3d3;
}
.Comic {
  margin: 2rem 0rem;
}
.Comic div:first-child {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}
.Comic img {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}
.Comic+.Comic {
  border-top: 1px solid #d3d3d3;
}
.ComicManage {
  margin-left: 12%;
  width: 75%;
}
.ComicManage > div:first-child {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 2rem;
  text-align: center;
}
.ComicManage label {
  display: inline-block;
  width: 15%;
}
.ComicManage input {
  width: 80%;
}
.ComicManage .button-row {
  text-align: center;
}
.ComicManage .button-row button {
  cursor: pointer;
}
.ComicResources {
  margin-left: 12%;
  position: relative;
  text-align: center;
  width: 75%;
}
.ComicResources button.add,
.ComicResources button.delete,
.ComicResources button.edit {
  cursor: pointer;
  float: right;
  position: absolute;
  right: 0px;
}
.ComicResources > div:first-child {
  margin-bottom: 2rem;
}
.ComicResources > div:first-child div {
  display: inline-block;
  line-height: 2rem;
}
.ComicResources .Comic {
  border-bottom: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding: 1rem;
}
.ComicResources .Comic:first-child {
  border-top: 1px solid #d3d3d3;
}
.ComicResources .Comic .header {
  position: relative;
}
.ComicResources .Comic .header .title {
  display: inline-block;
  height: 2rem;
  max-width: 60%;
}
.ComicResources .Comic .confirm {
  height: 2rem;
}
.ComicResources .Comic button:nth-child(2) {
  right: 1rem;
}
.ComicResources .Comic button:nth-child(3) {
  right: 4rem;
}
.Home {
  width: 75%;
  margin-left: 12%;
}
.Login {
  margin-left: 12%;
  width: 75%;
}
.Login h1 {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 2rem;
  text-align: center;
}
.Login label {
  display: inline-block;
  width: 15%;
}
.Login input {
  width: 80%;
}
.Login .button-row {
  text-align: center;
}
.Login .button-row button {
  cursor: pointer;
}
.UserManage {
  margin-left: 12%;
  width: 75%;
}
.UserManage > div:first-child {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 2rem;
  text-align: center;
}
.UserManage label {
  display: inline-block;
  width: 15%;
}
.UserManage input {
  width: 80%;
}
.UserManage .button-row {
  text-align: center;
}
.UserManage .button-row button {
  cursor: pointer;
}
.UserResources {
  margin-left: 12%;
  position: relative;
  text-align: center;
  width: 75%;
}
.UserResources button.add,
.UserResources button.delete,
.UserResources button.edit {
  cursor: pointer;
  float: right;
  position: absolute;
  right: 0px;
}
.UserResources > div:first-child {
  margin-bottom: 2rem;
}
.UserResources > div:first-child div {
  display: inline-block;
  line-height: 2rem;
}
.UserResources .User {
  border-bottom: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  padding: 1rem;
  position: relative;
}
.UserResources .User:first-child {
  border-top: 1px solid #d3d3d3;
}
.UserResources .User div {
  display: inline-block;
  line-height: 2rem;
}
.UserResources .User .confirm {
  height: 2rem;
}
.UserResources .User button:nth-child(2) {
  right: 1rem;
}
.UserResources .User button:nth-child(3) {
  right: 4rem;
}
html {
  font-size: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #555;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-margin-start: 0rem;
  -webkit-margin-end: 0rem;
  -webkit-margin-before: 0rem;
  -webkit-margin-after: 0rem;
}
input,
button,
select,
textarea {
  margin: 0;
  border-radius: 0;
}
input:focus,
select:focus,
button:focus {
  outline: 0;
}
#content {
  padding-top: 1rem;
}
.hide {
  opacity: 0;
  transition: all 1s ease-in-out;
}
.hidden {
  display: none !important;
}
button {
  background-color: #fff;
  border: 1px solid;
  border-color: transparent;
  border-radius: 0.3rem;
  box-shadow: 0 2px 3px #999;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
}
button:hover {
  color: #d3d3d3;
}
button.add {
  background-image: url("/static/img/plus.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 2rem;
  width: 2rem;
  padding: 0px;
}
button.edit {
  background-image: url("/static/img/edit.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 2rem;
  width: 2rem;
  padding: 0px;
}
button.delete {
  background-image: url("/static/img/ex.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 2rem;
  width: 2rem;
  padding: 0px;
}
button.upload {
  position: relative;
  overflow: hidden;
}
button.upload.has-spinner {
  color: transparent;
}
button.upload:hover {
  cursor: pointer;
}
button.upload span:hover {
  cursor: pointer;
}
button.upload input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
}
button.upload input[type=file]:hover {
  cursor: pointer;
}
img.preview {
  display: inline-block;
  width: 80%;
}
.form-group {
  margin-bottom: 1rem;
  text-align: left;
}
.form-group input {
  padding: 0.5rem;
  width: 80%;
}
.form-group input:focus {
  background-color: #eee;
}
.form-group label {
  display: inline-block;
  width: 15%;
}
.form-group button {
  cursor: pointer;
  margin-left: 0px;
}
.form-group div {
  display: inline-block;
  width: 80%;
}
header {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.35);
  height: 3rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header ul,
header li {
  display: inline-block;
}
header ul {
  float: left;
  width: 33%;
}
header li {
  font-size: 1rem;
  line-height: 3rem;
  margin: 0rem 1rem;
}
header span:nth-child(2) {
  width: 33%;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
}
header img {
  display: inline;
  height: 2rem;
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
