.Admin
    text-align: center
    margin-left: 12%
    width: 75%
    
    > div:first-child
        margin-bottom: 2rem
    
    .AdminItem
        border-bottom: 1px solid lightgrey
        border-left: 1px solid lightgrey
        border-right: 1px solid lightgrey
        cursor: pointer
        padding: 1rem

        &:first-child
            border-top: 1px solid lightgrey
    
        &:hover
            background-color: lightgrey
