.Comic
    margin: 2rem 0rem

    div:first-child
        text-align: center
        font-weight: 700
        font-size: 1.5rem
    img
        display: block
        max-width: 100%
        margin: 1rem auto

.Comic+.Comic
    border-top: 1px solid lightgrey
