.Comic
    border-bottom: 1px solid lightgrey
    padding-bottom: 10px
    margin: 2rem auto
    width: 90%

    .header
        text-align: center
        font-weight: 700
        font-size: 1.5rem
        
        .title
            border-bottom: 1px solid transparent
            cursor: pointer
            display: inline-block

            &:hover
                border-bottom: 1px solid lightgrey

    .pre-context,
    .post-context
        font-style: italic;
        color: lightgray;
        font-size: .75rem;

    .date
        float: left
        font-size: .75rem
        margin-top: 1rem

    .context
        max-width: 75%

    img
        display: block
        margin: 0rem auto 1rem auto
        width: 100%

    .share
        float: left
        height: 2rem

        svg
            cursor: pointer
            height: 2rem
            margin: 0 2px
            width: 2rem
