.ComicManage
    margin-left: 12%
    width: 75%
    
    > div:first-child
        border-bottom: 1px solid lightgrey
        margin-bottom: 2rem
        text-align: center
   
    label
        display: inline-block
        width: 15%
    
    input
        width: 80%
             
    .button-row
        text-align: center
    
        button
            cursor: pointer
