.Comic
    border-bottom: 1px solid lightgrey
    padding-bottom: 10px
    margin: 2rem auto
    width: 90%

    div:first-child
        text-align: center
        font-weight: 700
        font-size: 1.5rem
        
        .title
            border-bottom: 1px solid transparent
            cursor: pointer
            display: inline-block

            &:hover
                border-bottom: 1px solid lightgrey
    img
        display: block
        margin: 1rem auto
        max-width: 100%

    .share
        float: left
        height: 2rem

        svg
            cursor: pointer
            height: 2rem
            margin: 0 2px
            width: 2rem
