.form-group
    margin-bottom: 1rem
    text-align: left

    input
        padding: .5rem
        width: 80%

        &:focus
            background-color: #eee

    label
        display: inline-block
        width: 15%
    
    button
        cursor: pointer
        margin-left: 0px

    div
        display: inline-block
        width: 80%
