header
    background-color: white
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35)
    height: $headerPadding
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 100

    img
        display: block;
        margin: .5rem auto;
        height: 3rem;
