header
    background-color: black
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35)
    border-top: 1px solid black
    opacity: 0.75
    height: 4rem
    left: 0
    position: fixed
    text-align: center
    top: 1rem
    width: 100%
    z-index: 100

    svg
        height: 2rem
        stroke: white
        margin: 1rem
        
        &:first-child
            float: left
        
        &:last-child
            float: right

    ul, li
        display: inline-block

    li
        font-size: 1rem
        margin: 1rem
        text-transform: uppercase
